* {box-sizing: border-box;}

body {
	margin: 0;
	font-family: sans-serif;
	text-align: center;
}

.homePage {
	width: 80%;
	text-align: left;
	padding: 10px;
	background: #d6d6d6;
	margin: 0 auto;
}

.homeAnchor {
	padding: 5px 0;
}


.button {
	background: #53d5fd;
	color: white;
	padding: 15px 32px;
	display: inline-block;
	border-radius: 10%;
	margin: 10px auto;
	text-decoration: none;
	text-align: center;
}

/*────────────────── 
       day 1
──────────────────*/

.parentDay1 {
	width: 90%;
	background: dodgerblue;
	color: white;
	margin: 0 auto;
}

.childDay1 {
	width: 50%;
	padding: 1em;
	text-align: left;
}

/*────────────────── 
       day 2
──────────────────*/